
body {
  min-width: 1024px;
  background-color: white;
  background-image: url("pattern.png");
  background-repeat: repeat;
  color: #404040;
  font-size: 11 pt;
  font-family: Georgia, Garamond, serif;
}

h1, h2 {
  color: #A4A400;
  background-color: #F0F0F0;
  font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 22pt;
}

h2 {
  font-size: 18pt;
}

.dati {
  display: inline-block;
  min-width: 100%;
}

#testo {
  float: left;
}

.image {
  float: right;
  margin-left: auto;
  margin-right: inherit;
  width: 240px;
  height: 240px;
}

footer {
  background-color: #F0F0F0;
  padding: 10px;
}

.links {
  color: #A4A400;
}
