body {
  background-color: rgba(0, 19, 120, 0.46);
  min-width: 1024px;
}

h3 {
  background-image: linear-gradient(to right, white, rgba(0, 19, 120, 0.30));
}

.links {
  overflow: hidden;
  background-color: #262525;
  font: 18px Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 9;
}

.links a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.links a:hover {
  background-color: #ddd;
  color: black;
}

a:visited {
  color: #AB63A4;
  text-decoration: none;
}

.internet {
  position: relative;
}

.internet a {
  color: white;
  text-decoration: none;
  font-style: italic;
}

.text {
  color: white;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 50px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.container {
  top: 400px;
  left: 150px;
  width: 20%;
}

.container2 {
  top: 400px;
  left: 550px;
}

.container3 {
  top: 400px;
  left: 950px;
}

.container, .container2, .container3 {
  float: left;
  position: absolute;
  width: 20%;
  padding: 10px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  /* transform: translate(10%,-120%); */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 99%;
  opacity: 0;
  transition: .3s ease;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
  background-color: rgba(0, 88, 126, 0.76);
}

.container2:hover .overlay {
  opacity: 1;
  background-color: rgba(211, 223, 109, 0.76);
}

.container3:hover .overlay {
  opacity: 1;
  background-color: rgba(159, 82, 2, 0.76);
}
